<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body class="bg-grey" gtools_scp_screen_capture_injected="true">
    <%- include('./includes/header') %>
    <div class="main-content index-page clearfix <% if (site.customConfig.column == 'one') { %>onlist-page<% } %>">
      <div class="post-lists">
        <div class="post-lists-body">
            <% posts.forEach(function(post) { %>
          <% if (site.customConfig.column === 'three' || site.customConfig.column !== 'one') { %>
                <div class="post-list-item">
            <div class="post-list-item-container">
              <div class="item-thumb deepgrey" style="background-image: url('<%= post.feature %>');"></div>
              <a href="<%= post.link %>">
                <div class="item-desc">
                  <% if (post.abstract) { %>
                    <p><%- post.abstract.substring(0, 75) + '...' %></p>
                  <% } %>
                </div>
              </a>
              <div class="item-slant reverse-slant deepgrey"></div>
              <div class="item-slant"></div>
              <div class="item-label">
                <div class="item-title"><a href="<%= post.link %>"><%= post.title %></a></div>
                <div class="item-meta clearfix">
                  <div class="item-meta-date" style="color: #313131; padding-top: 12px;">
                    <%= post.dateFormat %>
                  </div>
                    <div class="item-meta-cat">
                      <% post.tags.forEach(function(tag) { %>
                        <a href="<%= tag.link %>"><%= tag.name %></a>
                      <% }); %>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if (site.customConfig.column == 'one') { %>
          <div class="post-onelist-item">
            <div class="post-onelist-item-container">
              <a href="<%= post.link %>">
                <div class="onelist-item-thumb deepgrey" style="background-image: url('<%= post.feature %>');"></div>
              </a>
              <div class="onelist-item-info">
                <div class="item-title">
                  <a href="<%= post.link %>"><%= post.title %></a>
                </div>
                <div class="item-meta">
                  <time itemprop="datePublished">Published on <%= post.dateFormat %><% if (post.tags.length != 0) { %> in <% } %></time><% post.tags.forEach(function(tags, index) { %><a href="<%= tag.link %>"><%= tag.name %><% if (index !== post.tags.length - 1) { %> / <% } %></a><% }); %>
                </div>
                <div class="item-meta-hr deepgrey"></div>
                <div class="item-content">
                  <% if (post.abstract) { %>
                    <p><%- post.abstract.substring(0, 150) + '...' %></p>
                  <% } %>
                </div>
                <div class="item-readmore">
                  <a href="<%= post.link %>"> More → </a>
                </div>
              </div>
            </div>
          </div>
          <% } %>
            <% }); %>
        </div>
      </div>
      <div class="lists-navigator clearfix">
        <%- include('./includes/pagination') %>
      </div>
    </div>
    <%- include('./includes/footer') %>
    <%- include('./includes/scripts') %>
  </body>
</html>
